<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>



	<title>Login</title>


	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/css/style_generic.css" />
	<link rel="stylesheet" href="/css/style_login.css" />

</head>

<body>
	<header class="clear">
		<nav>
		  <p id="logo">TRVL ASSIST</p>
		  <ul class="nav_links">
			<li><a href="/home">Home</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/insurances">Insurances</a>
			<li><a href="">Insurance S</a></li>
			<li><a href="">Insurance P</a></li>
			<li sec:authorize="isAnonymous()"><a href="/login" id="sign_in">Sign In</a>
			<li sec:authorize="isAnonymous()"><a href="/register" id="sign_up">Sign Up</a>
			<li sec:authorize="isAuthenticated()"><a href="/logout">Log Out</a>
		  </ul>
		</nav>
	  </header>

	<div class="container">



		<div class="center clear">



			<div class="sign-up">
				<div class="text-center">
					<h1 class="h4 text-gray-900 mb-4">Create Insurance</h1>
				</div>
				<div class="text-center" th:if="${param.error}">
					<h6 class="text-danger">Product already exist</h6>
				</div>
               
				<form class="user" th:action="@{/insurance}" th:object="${user}" method="post">
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input th:field="*{firstName}" type="text" class="form-control form-control-user"
								   id="firstName" placeholder="First Name" maxlength="12" required/>
						</div>
						<div class="col-sm-6">
							<input th:field="*{lastName}" type="text" class="form-control form-control-user"
								   id="lastName" placeholder="Last Name" maxlength="12" required/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input th:field="*{username}" type="text" class="form-control form-control-user"
								   id="username" placeholder="Username" maxlength="12" required/>
						</div>

					</div>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input th:field="*{password}" type="password" class="form-control form-control-user"
								   id="password" placeholder="Password" minlength="8" maxlength="25" required/>
						</div>
						<div class="col-sm-6">
							<input type="password" class="form-control form-control-user" id="repeatPassword"
								   placeholder="Repeat Password" minlength="8" maxlength="25" required/>
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-user btn-block">
						Register Account
					</button>
				</form>

				<div class="text-center">
					<a class="small" href="/login">Already have an account? Login!</a>
				</div>
				
			</div>




		</div>
	</div>

</body>

</html>
